.formacao {
  background: #141414;
  color: #fff;
}

.formacao-container {
  padding: 120px 20px;
  position: relative;
}

.formacao-container::before {
  content: "";
  display: block;
  width: 128px;
  height: 128px;
  background: url(/img/detalhe.svg) no-repeat center center;
  position: absolute;
  bottom: -64px;
}

.formacao .subtitulo {
  color: #000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.45rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background-color: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-titulo {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.35;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 2px;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1rem;
  color: #a3a3a3;
}

.formacao-extra h3 {
  font-size: 0.8rem;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 1.4;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: -36px;
  top: -6px;
}

.cursos {
  margin-bottom: 60px;
}

.cursos h3::before {
  background: url(/img/cursos.svg) no-repeat center center;
}

.idiomas h3::before {
  background: url(/img/idiomas.svg) no-repeat center center;
}

.idiomas {
  position: relative;
}

.formacao-extra li {
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #fff;
  }
  .formacao-texto {
    font-size: 1.2rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
