body {
  margin: 0px;
  padding: 0px;
  font-family: "Libre Franklin", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

a:visited {
  display: none;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-wrap: break-word;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 2rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
